body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u843 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:0px;
}
#u843_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background-image:none;
}
#u843_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(88, 141, 194, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#575556;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#575556;
}
#u847 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:57px;
}
#u848 {
  position:absolute;
  left:10px;
  top:22px;
  width:266px;
  height:57px;
}
#u849 {
  position:absolute;
  left:2px;
  top:20px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:55px;
}
#u850 {
  position:absolute;
  left:942px;
  top:23px;
  width:250px;
  height:55px;
}
#u851 {
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u853 {
  position:absolute;
  left:0px;
  top:100px;
  width:195px;
  height:141px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u854 {
  position:absolute;
  left:2px;
  top:62px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u855 {
  position:absolute;
  left:15px;
  top:107px;
  width:106px;
  height:23px;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u857 {
  position:absolute;
  left:170px;
  top:106px;
  width:25px;
  height:21px;
  text-align:right;
}
#u858 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u861 {
  position:absolute;
  left:42px;
  top:141px;
  width:112px;
  height:18px;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  position:absolute;
  left:41px;
  top:171px;
  width:113px;
  height:32px;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865 {
  position:absolute;
  left:38px;
  top:219px;
  width:119px;
  height:15px;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(88, 141, 194, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFD568;
}
#u867 {
  position:absolute;
  left:195px;
  top:100px;
  width:1005px;
  height:800px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFD568;
}
#u868 {
  position:absolute;
  left:2px;
  top:392px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:521px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:240px;
  top:141px;
  width:917px;
  height:521px;
}
#u871 {
  position:absolute;
  left:2px;
  top:252px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  position:absolute;
  left:544px;
  top:120px;
  width:314px;
  height:50px;
}
#u874 {
  position:absolute;
  left:2px;
  top:18px;
  width:310px;
  word-wrap:break-word;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u877 {
  position:absolute;
  left:544px;
  top:120px;
  width:50px;
  height:50px;
  font-size:20px;
}
#u877_img.mouseOver {
}
#u877.mouseOver {
}
#u877_img.selected {
}
#u877.selected {
}
#u878 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u880 {
  position:absolute;
  left:610px;
  top:120px;
  width:50px;
  height:50px;
}
#u880_img.mouseOver {
}
#u880.mouseOver {
}
#u880_img.selected {
}
#u880.selected {
}
#u881 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u883 {
  position:absolute;
  left:676px;
  top:120px;
  width:50px;
  height:50px;
  font-size:20px;
}
#u883_img.mouseOver {
}
#u883.mouseOver {
}
#u883_img.selected {
}
#u883.selected {
}
#u884 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u886 {
  position:absolute;
  left:742px;
  top:120px;
  width:50px;
  height:50px;
  font-size:20px;
}
#u886_img.mouseOver {
}
#u886.mouseOver {
}
#u886_img.selected {
}
#u886.selected {
}
#u887 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u889 {
  position:absolute;
  left:808px;
  top:120px;
  width:50px;
  height:50px;
  font-size:20px;
}
#u889_img.mouseOver {
}
#u889.mouseOver {
}
#u889_img.selected {
}
#u889.selected {
}
#u890 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u891 {
  position:absolute;
  left:292px;
  top:225px;
  width:325px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:283px;
  top:661px;
  width:530px;
  height:98px;
}
#u895 {
  position:absolute;
  left:2px;
  top:41px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u897 {
  position:absolute;
  left:349px;
  top:674px;
  width:300px;
  height:25px;
}
#u897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  position:absolute;
  left:283px;
  top:678px;
  width:45px;
  height:16px;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u901 {
  position:absolute;
  left:349px;
  top:712px;
  width:300px;
  height:25px;
}
#u901_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  position:absolute;
  left:283px;
  top:716px;
  width:61px;
  height:16px;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:178px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u905 {
  position:absolute;
  left:592px;
  top:272px;
  width:530px;
  height:178px;
}
#u906 {
  position:absolute;
  left:2px;
  top:81px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u908 {
  position:absolute;
  left:703px;
  top:313px;
  width:157px;
  height:25px;
}
#u908_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u909 {
  position:absolute;
  left:627px;
  top:317px;
  width:56px;
  height:16px;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912 {
  position:absolute;
  left:703px;
  top:361px;
  width:157px;
  height:25px;
}
#u912_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  position:absolute;
  left:627px;
  top:365px;
  width:59px;
  height:16px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u916 {
  position:absolute;
  left:956px;
  top:361px;
  width:142px;
  height:25px;
}
#u916_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:880px;
  top:365px;
  width:58px;
  height:16px;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u920 {
  position:absolute;
  left:703px;
  top:408px;
  width:395px;
  height:25px;
}
#u920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921 {
  position:absolute;
  left:627px;
  top:412px;
  width:58px;
  height:16px;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u924 {
  position:absolute;
  left:956px;
  top:309px;
  width:142px;
  height:25px;
}
#u924_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925 {
  position:absolute;
  left:880px;
  top:305px;
  width:72px;
  height:33px;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u927 {
  position:absolute;
  left:604px;
  top:281px;
  width:276px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u930 {
  position:absolute;
  left:286px;
  top:515px;
  width:827px;
  height:91px;
}
#u930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:91px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u931 {
  position:absolute;
  left:283px;
  top:474px;
  width:77px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:283px;
  top:616px;
  width:134px;
  height:16px;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u936 {
  position:absolute;
  left:420px;
  top:614px;
  width:20px;
  height:20px;
}
#u937 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938 {
  position:absolute;
  left:450px;
  top:611px;
  width:300px;
  height:25px;
}
#u938_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  position:absolute;
  left:472px;
  top:474px;
  width:33px;
  height:16px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u942 {
  position:absolute;
  left:515px;
  top:474px;
  width:102px;
  height:22px;
}
#u942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u942_input:disabled {
  color:grayText;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:292px;
  top:272px;
  width:300px;
  height:178px;
}
#u945 {
  position:absolute;
  left:2px;
  top:81px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:340px;
  top:320px;
  width:56px;
  height:16px;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949 {
  position:absolute;
  left:413px;
  top:320px;
  width:123px;
  height:16px;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:413px;
  top:350px;
  width:131px;
  height:33px;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:340px;
  top:350px;
  width:64px;
  height:16px;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  position:absolute;
  left:340px;
  top:397px;
  width:62px;
  height:16px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  position:absolute;
  left:413px;
  top:397px;
  width:70px;
  height:16px;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u961 {
  position:absolute;
  left:315px;
  top:281px;
  width:225px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:544px;
  top:798px;
  width:140px;
  height:40px;
}
#u965 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  position:absolute;
  left:725px;
  top:798px;
  width:140px;
  height:40px;
}
#u967 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:178px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u970 {
  position:absolute;
  left:592px;
  top:460px;
  width:530px;
  height:178px;
}
#u971 {
  position:absolute;
  left:2px;
  top:81px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u973 {
  position:absolute;
  left:703px;
  top:512px;
  width:157px;
  height:31px;
}
#u973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974 {
  position:absolute;
  left:627px;
  top:517px;
  width:56px;
  height:16px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u978 {
  position:absolute;
  left:703px;
  top:554px;
  width:157px;
  height:31px;
}
#u978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  position:absolute;
  left:627px;
  top:559px;
  width:59px;
  height:16px;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u982 {
  position:absolute;
  left:956px;
  top:554px;
  width:142px;
  height:31px;
}
#u982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u983 {
  position:absolute;
  left:880px;
  top:559px;
  width:58px;
  height:16px;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u986 {
  position:absolute;
  left:703px;
  top:595px;
  width:395px;
  height:31px;
}
#u986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u987 {
  position:absolute;
  left:627px;
  top:600px;
  width:58px;
  height:16px;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u990 {
  position:absolute;
  left:956px;
  top:512px;
  width:142px;
  height:31px;
}
#u990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u991 {
  position:absolute;
  left:880px;
  top:511px;
  width:72px;
  height:33px;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u993 {
  position:absolute;
  left:604px;
  top:471px;
  width:261px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u996 {
  position:absolute;
  left:964px;
  top:563px;
  width:107px;
  height:16px;
  text-align:center;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u998 {
  position:absolute;
  left:717px;
  top:563px;
  width:88px;
  height:16px;
  text-align:center;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1000 {
  position:absolute;
  left:340px;
  top:512px;
  width:222px;
  height:68px;
  font-size:20px;
}
#u1001 {
  position:absolute;
  left:16px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u1000_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:104px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1003 {
  position:absolute;
  left:498px;
  top:646px;
  width:362px;
  height:104px;
  font-size:20px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:2px;
  width:358px;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1005 {
  position:absolute;
  left:717px;
  top:705px;
  width:120px;
  height:35px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  position:absolute;
  left:515px;
  top:703px;
  width:120px;
  height:34px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:72px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1011 {
  position:absolute;
  left:0px;
  top:590px;
  width:195px;
  height:72px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:28px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u1013 {
  position:absolute;
  left:141px;
  top:612px;
  width:35px;
  height:29px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 213, 104, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015 {
  position:absolute;
  left:22px;
  top:606px;
  width:109px;
  height:40px;
}
#u1015_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 213, 104, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015.mouseOver {
}
#u1015_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 213, 104, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015.selected {
}
#u1016 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 213, 104, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(88, 141, 194, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1017 {
  position:absolute;
  left:0px;
  top:240px;
  width:195px;
  height:350px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1018 {
  position:absolute;
  left:2px;
  top:167px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1019 {
  position:absolute;
  left:83px;
  top:267px;
  width:112px;
  height:40px;
  text-align:left;
}
#u1019_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1019.mouseOver {
}
#u1019_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1019.selected {
}
#u1020 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1021 {
  position:absolute;
  left:83px;
  top:371px;
  width:112px;
  height:40px;
  text-align:left;
}
#u1021_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1021.mouseOver {
}
#u1021_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1021.selected {
}
#u1022 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1023 {
  position:absolute;
  left:83px;
  top:319px;
  width:112px;
  height:40px;
  text-align:left;
}
#u1023_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1023.mouseOver {
}
#u1023_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1023.selected {
}
#u1024 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1025 {
  position:absolute;
  left:83px;
  top:523px;
  width:112px;
  height:40px;
  text-align:left;
}
#u1025_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1025.mouseOver {
}
#u1025_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1025.selected {
}
#u1026 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1027 {
  position:absolute;
  left:83px;
  top:476px;
  width:112px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1027_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1027.mouseOver {
}
#u1027_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1027.selected {
}
#u1028 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u1029 {
  position:absolute;
  left:35px;
  top:277px;
  width:25px;
  height:20px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1031 {
  position:absolute;
  left:36px;
  top:329px;
  width:21px;
  height:20px;
  color:#588DC2;
}
#u1032 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1033 {
  position:absolute;
  left:37px;
  top:533px;
  width:21px;
  height:20px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1035 {
  position:absolute;
  left:37px;
  top:380px;
  width:21px;
  height:20px;
  color:#588DC2;
}
#u1036 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1037 {
  position:absolute;
  left:35px;
  top:486px;
  width:21px;
  height:20px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1039 {
  position:absolute;
  left:83px;
  top:422px;
  width:112px;
  height:40px;
  text-align:left;
}
#u1039_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1039.mouseOver {
}
#u1039_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(88, 141, 194, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1039.selected {
}
#u1040 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1041 {
  position:absolute;
  left:36px;
  top:434px;
  width:21px;
  height:21px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1044 {
  position:absolute;
  left:655px;
  top:712px;
  width:171px;
  height:31px;
}
#u1045 {
  position:absolute;
  left:16px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u1044_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1046 {
  position:absolute;
  left:655px;
  top:674px;
  width:171px;
  height:31px;
}
#u1047 {
  position:absolute;
  left:16px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u1046_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
