.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.flow_shape {
}
.label_title {
  font-size:20px;
  text-align:left;
}
.label_content {
  font-size:16px;
  text-align:left;
}
.label_little_content {
  font-size:13px;
  text-align:left;
}
.fontawesome {
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#797979;
}
.icon {
}
.image1 {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.paragraph1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.image2 {
  font-size:13px;
  color:#000000;
}
.shape1 {
  font-size:13px;
  color:#000000;
}
.horizontal_line {
}
.text_field1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.rc-mouseover {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  color:#FFFFFF;
}
.rc-selected {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
.rc-defaultbtn {
  color:#000000;
}
.rc-defaultlogout {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#575556;
}
.rc-defaultlogoutmouseover {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
.rc-btn {
  color:#FFFFFF;
}
.rc-pasosdefault {
  font-size:20px;
}
.rc-pasoshover {
  color:#588DC2;
}
.rc-pasosselected {
  font-size:20px;
  color:#333333;
}
.line1 {
}
.rc-tabdefault {
  font-size:14px;
  color:#000000;
  text-align:center;
}
.rc-tabselected {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
.rc-tabhover {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
.rc-btnnonprimary {
  color:#000000;
}
